<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vaascoo</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/icons.css">
</head>
<body>
    <div class="topbar">
        <a href="/index.html">About</a>
        <a class="chosen" href="/posts.html">Blog</a>
    </div>
    <div class="content-container">
        <section id="Posts">
            <h1>Posts</h1>
            {% for post in posts %}
            <div class="post">
              <h2><a href="/posts/{{ post.out }}">{{ post.title }}</a></h2>
                <p>{{ post.sample }}</p>
                <p class="date">{{ post.date }}</p>
            </div>
            {% endfor %}
        </section>
        <footer>
            <p>&lt;gpg key&gt;</p>
            <p>Vasco Correia</p>
        </footer>
    </div>
</body>
</html>
