<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="vaascoo's website/blog, containing posts about Linux, Distributed Systems and whatever I find interesting.">
    <title>vaascoo</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/highlight.css">
</head>
<body>
    <div class="topbar">
      <a href="/">About</a>
      <a href="/posts.html">Blog</a>
    </div>
    <div class="content-container">
      <section id="Post">
        {{ content|safe }}
      </section>
      <footer>
          <p>&lt;gpg key&gt;</p>
          <p>Vasco Correia</p>
      </footer>
    </div>
</body>
</html>
